@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Y5OTYtMDI1LWpvYjU5OC5qcGc.jpg");
  background-size: 100%;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.cart-items {
  height: 300px;
  overflow: scroll;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

#cart-thumb img {
  height: 100px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#navbar{
  background-color: transparent;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #add-button {
    margin: 0 auto;
    text-align: center;
  }
  
  #add-link {
    margin: 0 auto;
    text-align: center;
  }

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: white;

    #formModal {
      color: black;
    }
  }

  #store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 300px;
      margin: 5px;
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

#view {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;

  .card{
    width: 40%;
    height: 550px;
  }

  .spec-img{
    width: 100px;
    height: 80px;
    position: fixed; 
    top: 0;
    margin-top: 100px;
  }

  .view-card-title{
    font-size: 50px;
  }

  .view-card-text{
    font-size: 35px;
  }

  .view-card-text2{
    font-size: 30px;

  }

  .view-card-text3{
    font-size: 30px;
  }

  .details {
    min-width: 100%;
    max-width: 100%;
  }

  .desc {
    white-space: pre-wrap;
  }
}

.card {
  width: 350px;
  margin-top: 135px;
}
